-
  name: 'Blog post comment creation'
  uriPattern:    'miweb/neos/blog/comments/create'
  defaults:
    '@package':    'MIWeb.Neos.Blog'
    '@controller': 'Comment'
    '@format': 'html'
    '@action': 'create'

-
  name: 'Blog post pagination default'
  uriPattern:    '{node}'
  defaults:
    '@package':    'Neos.Neos'
    '@controller': 'Frontend\Node'
    '@format':     'html'
    '@action':     'show'
    '--posts-paginator':
      '@package': ''
      '@subpackage': ''
      '@controller': ''
      '@action': 'index'
      '@format': 'html'
  routeParts:
    node:
      handler:    'Neos\Neos\Routing\FrontendNodeRoutePartHandler'

-
  name: 'Blog post pagination - page > 1'
  uriPattern:    '{node}/page/{--posts-paginator.currentPage}'
  defaults:
    '@package':    'Neos.Neos'
    '@controller': 'Frontend\Node'
    '@format':     'html'
    '@action':     'show'
    '--posts-paginator':
      '@package': ''
      '@subpackage': ''
      '@controller': ''
      '@action': 'index'
      '@format': 'html'
  routeParts:
    node:
      handler:    'Neos\Neos\Routing\FrontendNodeRoutePartHandler'

#-
  #name:          'RSS Feed special super extra workaround route (for until we can use different formats in plugins)'
  #uriPattern:    '{node}.xml'
  #defaults:
    #'@package':    'Neos.Neos'
    #'@controller': 'Frontend\Node'
    #'@format':     'xml'
    #'@action':     'show'
  #routeParts:
    #node:
      #handler: 'Neos\Neos\Routing\FrontendNodeRoutePartHandler'
